<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${goods.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">Goods ID：</label>
								<div class="col-sm-8">
									<input id="goodsId" name="goodsId" th:value="${goods.goodsId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Goods Name：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${goods.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Type Name：</label>
								<div class="col-sm-8">
									<input id="typeName" name="typeName" th:value="${goods.typeName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Type ID：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${goods.type}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Rental Daily：</label>
								<div class="col-sm-8">
									<input id="rentalcost" name="rentalcost" th:value="${goods.rentalcost}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Deposit：</label>
								<div class="col-sm-8">
									<input id="deposit" name="deposit" th:value="${goods.deposit}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Description：</label>
								<div class="col-sm-8">
									<input id="desc" name="desc" th:value="${goods.desc}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Exchange Addr：</label>
								<div class="col-sm-8">
									<input id="addr" name="addr" th:value="${goods.addr}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">Owner ID：</label>
								<div class="col-sm-8">
									<input id="owner" name="owner" th:value="${goods.owner}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/goods/edit.js">
	</script>
</body>
</html>
